// Colors //
$primary-color-yellow: #F8B602;
$primary-color-red: #EB5757;
$primary-color-purple: #9D1CB2;
$primary-color-blue: #2D9CDB;
$primary-color-green: #A6C44A;
$primary-black-default: #2E2E2E;
$primary-white-default: #FFFFFF;
$neutral-gray-01: #A098AE;
$neutral-gray-02: #DBDBDB;
$neutral-gray-03: #F5F5F5;
$system-alert-default: #E32000;
$system-alert-light: #FEE7E5;
$system-warning-default: #FFE01A;
$system-warning-light: #FEFBC1;
$system-success-default: #8BC53F;
$system-success-light: #E6F6EC;